body {
  background: #9786c0 !important;
}

.right_col {
  height: 100vh;
}

.navbar-nav{
  flex-direction: initial;
  justify-content: flex-end;
}

label{
  font-size: 16px;
}

.x_panel{
  background: none !important;
  border: none !important;
}

/* .title-bar{
  width: 10px;
  height: 45px;
  margin: 0 10px;
  background: #ffc107;
} */

.page-title{
  display: flex;
  margin: 0 30px;
  margin-bottom: 50px;
}

.ct{
  text-align: center;
}

.pad25{
  padding: 0 25px !important;
}

#btn_login {
  width: 200px;
  font-size: 15px;
}

#btn_register {
  width: 200px;
  font-size: 15px;
}

.lost_pass_div {
  position: relative;
}

.lost_pass_div a {
  position: absolute;
  top: -20px;
  right: 10px;
}

.login-qrcode-img {
  position: absolute;
  z-index: 30;
  right: -300px;
  top: 100px;
}